<div class="text">
  <img src="../../../assets/image.png" alt="">
  <h1>CORTÊZ <br> BURGUER</h1>
</div>
<div class="form register">
  <i class="bi bi-x-lg" [routerLink]="'/'"></i>
  <h1>Ola, seja bem vindo</h1>
  <p class="p">Faça seu cadastro</p>
  <form (ngSubmit)="onSubmit()">
    <label>
      <input placeholder="Nome" type="text" [(ngModel)]="user.nome" name="nome" required />
    </label>

    <label>
      <input placeholder="Email" type="email" [(ngModel)]="user.email" name="email" required />
    </label>

    <label>
      <input placeholder="Senha" type="password" [(ngModel)]="user.senha" name="senha" required />
    </label>

    <label for="login">
      <a (click)="nextPage()" >Ja possuo conta</a>
    </label>

    <div *ngIf="errors.length > 0" class="error-message">
      <p *ngFor="let error of errors" class="errors">{{error}}</p>
    </div>

    <button type="submit">CADASTRAR</button>
  </form>
</div>
