input {
  color: var(--primary);

  outline: none;
  font-weight: 300;
  margin: 10px;
  width: 300px;
  border-radius: 15px;
  padding: 15px 10px;
  border: 1px solid var(--primary);
  box-shadow: 2px 2px 0px #f29f0587;
  transition: .5s;
  font-size: 1.05em;

  &:focus {
    color: var(--primary);
  }

  &:hover {
    transform: scale(1.02);
  }
}

input::placeholder {
  color: #f29f0587
}
