<app-header></app-header>
<section class="back">
  <div>
    <i class="bi bi-arrow-left-short" [routerLink]="['/']"></i>
    <p>CARRINHO</p>
  </div>
  <hr>
</section>
<main>
  <div *ngIf="produtos.length > 0" class="carrinho">
    <div *ngFor="let produto of produtos" class="item">
      <div class="card">
        <img *ngIf="produto.categoria == 'HAMBURGUER' " src="../../../assets/burguer.png" alt="">
        <img *ngIf="produto.categoria == 'PIZZA' " src="../../../assets/pizza.jpg" alt="">
        <div class="infos">
          <h1>{{produto.nome}}</h1>
          <h2>{{produto.preco | currency}} </h2>
        </div>
      </div>
      <div class="quantidade">
        <i class="bi bi-trash-fill" (click)="removerProduto(produto.id)"></i>
        <span>{{produto.quantidade}}</span>
        <i class="bi bi-plus-lg" (click)="incrementarQuantidade(produto)"></i>
      </div>
    </div>
  </div>

  <button *ngIf="produtos.length > 0" class="adicionar">
    <h2 [routerLink]="['/']">ADICIONAR MAIS PRODUTOS</h2>
  </button>
  <button *ngIf="produtos.length > 0" class="avancar">
    <h2>AVANÇAR</h2>
    <h2>{{total | currency}}</h2>
  </button>

</main>
<app-footer></app-footer>
