:host {

  h1,
  h2,
  h3,
  p {
    font-size: 1em;
    color: var(--black);
  }

  section {
    padding: 0% 30%;

    div {
      flex-direction: row;
      justify-content: left;
      gap: 20px;
    }

    i {
      font-size: 2em;
      cursor: pointer;
    }

    hr {
      margin: 0;
    }
  }

  main {
    padding: 0% 30%;
    padding-bottom: 66px;
    display: flex;
    flex-direction: column;

    .carrinho {
      margin: 20px 0px;

      .item {
        width: 100%;
        margin: 20px;
        flex-direction: row;
        justify-content: space-between;

        .card {
          flex-direction: row;
          gap: 20px;

          img {
            width: 100px;
            height: 100px;
            border-radius: 10px;
          }

          .infos {
            align-items: flex-start;

            h2 {
              color: var(--primary);
            }
          }

        }

      }

      .quantidade {
        flex-direction: row;
        gap: 30px;
        padding: 5px;
        border-radius: 10px;

        border: 1px solid rgb(165, 165, 165);

        i {
          cursor: pointer;
          color: rgb(165, 165, 165);
        }

        .bi-plus-lg {
          cursor: pointer;
          color: var(--primary);
        }
      }

    }

    button.adicionar {
      background-color: var(--white);
      border: 1px solid var(--primary);
      padding: 15px 20px;
      transition: .5s;
      margin-top: 0;

      &:hover {
        transform: translateY(-5px);
      }

      h2 {
        width: 100%;
        color: var(--primary);
      }
    }

    button.avancar {
      padding: 15px 20px;
      transition: .5s;
      align-items: center;

      &:hover {
        transform: translateY(-5px);
      }

      h2 {
        color: var(--white);
        font-weight: bold;
      }

    }

  }

}
